.bootloader_container{
    display: flex;
    justify-content: center;
    align-content: center;
    width: 100vw;
    height: 100vh;
    overflow: hidden;
    background-color: black;
}

#bootloader_pre {
    background-size: auto;
}

#bootloader_2nd{
    align-self: center;
}

#bootloader_final{
    background-image: url('../../assets/bootloader_final.png');
    background-repeat: no-repeat;
    background-attachment: stretch;
    background-size: cover;
    width: 100%;
    height: 100%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-items: center;
}

#bootlogo_bottom{
    width: 500px;
    height: 50px;
}


.bootWelcome{
    height: 90vh;
    display: flex;
    justify-content: center;
    align-items: center;
}


#boot_text{
    color: white;
    font-family: 'calibri';
    font-size: 1em;
}

#loadingCircle{
    width: 1.5em;
    height: 1.5em;
    animation: loading 1s linear 6;
}

@keyframes loading {
    0%{
        transform: rotate(0deg);
    }
    100%{
        transform: rotate(360deg);
    }
}

@media (max-width: 600px) {
    #bootlogo_bottom{
        width: 200px;
        height: 25px;
    }
}