.desktop_background{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/*  taskbar size tga 201x30px */

#taskbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-image: url('../../assets/ui/taskbar.png');
    background-size: contain;
    background-repeat: repeat-x;
}

#taskbar_time{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 6px;
    right: 10px;
}

#start_orb{
    position: fixed;
    bottom: -4px;
    left: 1em;
    width: 65px;
    height: 40px;
    background-image: url('../../assets/ui/startorb.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 99;
}

#start_orb:hover{
    filter: brightness(1.2);
}

.iconsContainer{
    display: flex;
    flex-flow: column wrap;
    width: 200px;
}

.iconContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 78px;
}

.iconContainer:hover{
    cursor: pointer;
}

.icons{
    margin: 1em;
    width: 48px;
    height: 48px;
}

.iconText{
    font-size: .75em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}