.desktop_background{
    width: 100%;
    height: 100%;
    background-repeat: no-repeat;
    background-size: cover;
}

/* START MENU */

#start_orb{
    position: fixed;
    bottom: -4px;
    left: 1em;
    width: 65px;
    height: 40px;
    background-image: url('../../assets/ui/startorb.png');
    background-size: contain;
    background-repeat: no-repeat;
    z-index: 2;
}

#start_orb:hover{
    filter: brightness(1.2);
}

.iconsContainer{
    display: flex;
    flex-flow: column wrap;
    width: 200px;
}

.iconContainer{
    display: flex;
    flex-flow: column;
    justify-content: center;
    align-content: center;
    text-align: center;
    width: 78px;
}

.iconContainer:hover{
    cursor: pointer;
}

.icons{
    margin: 1em;
    width: 48px;
    height: 48px;
}

.iconText{
    font-size: .75em;
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

.startMenu{
    position: fixed;
    bottom: 30px;
    width: 350px;
    height: 600px;
    border-top-left-radius: 5px;
    border-top-right-radius: 5px;
    border-top: 0.5px solid silver;
    border-right: 0.5px solid silver;
    background: rgba(56, 52, 40, 0.8);
    box-shadow: black 4px 5px 8px 0;
    display: flex;
    justify-content: center;
    align-content: center;
}

.programList{
    align-self: center;
    width: 58%;
    height: 98%;
    display: flex;
    flex-flow: column wrap;
    justify-content: center;
    align-content: center;
}

.programs{
    width: 100%;
    height: 95%;
    background: white;
    border-radius: 3px;
}

.searchBar{
    margin-top: 5px;
    width: 100%;
    height: 4%;
    border-radius: 3px;
}

#search__bar{
    width: 96%;
    height: 80%;
}

#searchIcon{
    z-index: 999;
    position: absolute;
    width: 20px;
    height: 20px;
    left: 185px;
    bottom: 8px;
}


.placelist{
    width: 38%;
    height: 90%;
    display: flex;
    flex-flow: column;
    align-content: center;
    color: white;
}

#rightTop{
    width: 100%;
    height: 60px;
    display: flex;
    justify-content: center;
    align-content: center;
}

.userFrame{
    width: 72px;
    height: 72px;
    position: relative;
    top: -25px;
}

#userPic{
    width: 64px;
    height: 60px;
    position: absolute;
    z-index: -1;
    top: -15px;
}

.placelist_text{
    margin-left: 10px;
    margin-bottom: 10px;
    margin-top: 10px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .9em;
}

.placelist_divider{
    margin-bottom: 20px;
}


.programs_list{
    display: flex;
    align-content: center;
    flex-flow: column;
    width: 100%;
    height: 100%;
}

.program{
    width: 100%;
    height: 50px;
    align-items: center;
    display: flex;
    overflow: hidden;
    transition-duration: 0.4s;
    position: relative;
}

.program:hover{
    background: #f5f5f5;
    border-radius: 5px;
}

.program:after {
    content: "";
    background: #dcdcdc;
    display: block;
    position: absolute;
    padding-top: 300%;
    padding-left: 350%;
    margin-left: -20px!important;
    margin-top: -120%;
    opacity: 0;
    transition: all 0.8s
}

.program:active:after{
    padding: 0;
    margin: 0;
    opacity: 1;
    transition: 0s
}

.programIcons{
    width: 36px;
    height: 36px;
    background-size: contain;
    margin-left: 4px;
    margin-right: 4px;
}

/*  TASKBAR */

#taskbar{
    position: fixed;
    bottom: 0;
    width: 100%;
    height: 30px;
    background-image: url('../../assets/ui/taskbar.png');
    background-size: contain;
    background-repeat: repeat-x;
    z-index: 1;
}

#taskbar_time{
    color: white;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    position: fixed;
    bottom: 6px;
    right: 10px;
}

.taskbar_icon{
    position: fixed;
    bottom: 4px;
    width: 20px;
    height: 20px;
}

#volume_icon{
    right: 88px;
}

#volume_icon:hover{
    filter: brightness(1.2);
}

#wifi_icon{
    right: 115px;
}

.volume_slider{
    position: absolute;
    width: 60px;
    height: 175px;
    right: 50px;
    bottom: 40px;
    background: rgba(56, 52, 40, 0.8);
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 15px;
    border-radius: 5px;
}