.window{
    width: 500px;
    height: 500px;
    border-radius: 5px;
    position: absolute;
    top: 25%;
    left: 25%;
    display: flex;
    justify-content: center;
    border: 1px solid rgb(71, 69, 69);
    box-shadow: 0 1px 10px 1px;
    resize: both;
    overflow: hidden;
}

.windowBackground{
    background: rgba(136, 158, 172, 0.3);
    filter: blur(1px);
    width: 100%;
    height: 100%;
    position: absolute;
    border-radius: 5px;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
}

.windowContents{
    margin-top: 40px;
    width: 98%;
    height: 95%;
    border-radius: 3px;
    overflow: hidden;
    z-index: 10;
}

#dragStrip{
    position: absolute;
    width: 100%;
    height: 40px;
    z-index: 2;
    display: flex;
    align-content: center;
}

.windowTitle{
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: .8em;
    align-self: center;
    margin-left: 5px;
    width: 85%;
}

#windowButtons{
    display: flex;
}


#closeIcon{
    width: 38px;
    height: 24.2px;
    margin: -6px;
}

#minIcon{
    width: 38px;
    height: 28px;
    margin: -6px;
}

#maxIcon{
    width: 38px;
    height: 25px;
    margin: -5px;
}