#vscode{
    width: 100%;
    height: 100%;
    z-index: 101;
}

.content{
    width: 100%;
    height: 100%;
    background: white;
}

#aboutText{
    font-family:'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: 1em;
    padding: 10px;
}

#aboutText > h1 {
    font-size: 2em;
}

#aboutText > h2 {
    font-size: 1.3em;
    margin-bottom: 5px;
}

#aboutText > p {
    text-indent: 30px;
}

#aboutIcons{
    float: right;
}

.aboutImageIcons{
    width: 36px;
    height: 36px;
}

iframe {
    width: 100%;
    height: 100%;
}

#notepad{
    background: white;
}